g.newPoint, g.hidePoints {
  cursor: pointer;
}

circle {
  cursor: pointer;
  fill : orange;
}

circle:hover {
  fill : blue;
}

rect.removeSpace {
  fill: red;
}

path {
  stroke : black;
  stroke-width: 2;
  fill : none;
}

line {
  stroke : black;
  stroke-width: 1;
}

.hide {
  display: none;
}
